					{% if contents.has_other_pages %}
					<div class="row mt-10">
						<div class="col-xl-12">
							<div class="pagination">
								<ul>
									{% if contents.has_previous %}
									<li>
										<a href="?page={{ contents.previous_page_number }}">قبل</a>
									</li>
									{% else %}
									<li>
										<span>قبل</span>
									</li>
									{% endif %}
									{% for i in contents.paginator.page_range %}
										{% if contents.number == i %}
											<li class="active">
												<span>{{ i }}</span>
											</li>
										{% else %}
											<li>
												<a href="?page={{ i }}">
													{{ i }}
												</a>
											</li>
										{% endif %}
									{% endfor %}
									{% if contents.has_next %}
										<li>
											<a href="?page={{ contents.next_page_number }}">بعد</a>
										</li>
									{% else %}
										<li>
											<span>بعد</span>
										</li>
									{% endif %}
								</ul>
							</div>
						</div>
					</div>
				</div>
				{% endif %}