{% extends 'article/base.html' %}

{% load news_area %}

{% block main %}        <!-- header start -->
			<!-- hero-area start -->
			<!-- ads -->
			<!-- <div class="page-banner-area mt-60">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="page-title-bar text-center pt-60 pb-60" style="background-image: url(assets/img/bg/page-itle.jpg)">
								<h1>Blog List View</h1>
							</div>
						</div>
					</div>
				</div>
			</div> -->
			<!-- hero-area end -->

			<!-- news area -->
			<section class="news-area pt-4 pb-60">
				<!-- trendy news -->
				<div class="container">
					<div class="row">
						<div class="col-xl-8 col-lg-8 col-md-12">
							<h2 class="container h4 px-0 pb-3">دسته بندی: <span>{{category.title}}</span></h2>
							{% for article in articles %}
								<div class="postbox mb-40">
									<div class="postbox__thumb mb-25">
										<a href="{% url 'article:post' article.slug %}">
											<img src="{{article.image_main.url}}" alt="{{article.title}}">
										</a>
									</div>
									<div class="postbox__text">
										<div class="postbox__text-meta pb-20">
											<ul>
												<li>
													<i class="fas fa-calendar-alt"></i>
													<span>{{article.publish}}</span>
												</li>
												<li>
													<i class="far fa-comment"></i>
													<span>(03)</span>
												</li>
											</ul>
										</div>
										<h4 class="title-30 font-600 pr-0">
											<a href="{% url 'article:post' article.slug %}">{{ article.title }}</a>
										</h4>
										<div class="desc-text mb-20">
											<p>{{ article.description }}</p>
										</div>
										<a href="{% url 'article:post' article.slug %}" class="read-more btn f-left">بیشتر</a>
										<div class="clearfix"></div>
									</div>
								</div>
							{% empty %}

							{% endfor %}
						</div>
						<div class="col-xl-4 col-lg-4 col-md-12">
							<!-- ads -->
							<!-- <div class="widget mb-40">
								<a href="#">
									<img src="assets/img/add/add-sidebar.jpg" alt="">
								</a>
							</div> -->
							<div class="widget widget-border mb-40">
								<h3 class="widget-title">Popular posts</h3>
								<div class="post__small mb-30">
									<div class="post__small-thumb f-left">
										<a href="#">
											<img src="assets/img/trendy/xs/xs-1.jpg" alt="hero image">
										</a>
									</div>
									<div class="post__small-text fix pl-10">
										<span class="sm-cat">
											<a href="#">Fashion</a>
										</span>
										<h4 class="title-13 pr-0">
											<a href="#">Husar asks expenses authority to entitlements after Bruno</a>
										</h4>
										<div class="post__small-text-meta">
											<ul>
												<li>
													<i class="fas fa-calendar-alt"></i>
													<span>01 Sep 2018</span>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="post__small mb-30">
									<div class="post__small-thumb f-left">
										<a href="#">
											<img src="assets/img/trendy/xs/xs-2.jpg" alt="hero image">
										</a>
									</div>
									<div class="post__small-text fix pl-10">
										<span class="sm-cat">
											<a href="#">Fashion</a>
										</span>
										<h4 class="title-13 pr-0">
											<a href="#">Researchers claim majo throug in the fight to cure fibrosis</a>
										</h4>
										<div class="post__small-text-meta">
											<ul>
												<li>
													<i class="fas fa-calendar-alt"></i>
													<span>01 Sep 2018</span>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="post__small mb-30">
									<div class="post__small-thumb f-left">
										<a href="#">
											<img src="assets/img/trendy/xs/xs-3.jpg" alt="hero image">
										</a>
									</div>
									<div class="post__small-text fix pl-10">
										<span class="sm-cat">
											<a href="#">Fashion</a>
										</span>
										<h4 class="title-13 pr-0">
											<a href="#">Nahan downplays Liberal lership tensions after white ant</a>
										</h4>
										<div class="post__small-text-meta">
											<ul>
												<li>
													<i class="fas fa-calendar-alt"></i>
													<span>01 Sep 2018</span>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="post__small">
									<div class="post__small-thumb f-left">
										<a href="#">
											<img src="assets/img/trendy/xs/xs-4.jpg" alt="hero image">
										</a>
									</div>
									<div class="post__small-text fix pl-10">
										<span class="sm-cat">
											<a href="#">Travel</a>
										</span>
										<h4 class="title-13 pr-0">
											<a href="#">Farmers plead for bullets to put down emaciated stock</a>
										</h4>
										<div class="post__small-text-meta">
											<ul>
												<li>
													<i class="fas fa-calendar-alt"></i>
													<span>01 Sep 2018</span>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="widget widget-border mb-40">
								<h3 class="widget-title">Categories</h3>
								<ul>
									<li><a href="#">Business</a></li>
									<li><a href="#">Politic</a></li>
									<li><a href="#">Fashion</a></li>
									<li><a href="#">Corporate</a></li>
									<li><a href="#">Football</a></li>
									<li><a href="#">Magazine</a></li>
								</ul>
							</div>
						</div>
					</div>
					{% include 'article/parts/paginator.html' with contents=articles %}
				<!-- trendy news end -->
			</section>
			<!-- news area end -->
{% endblock %}